body {
	background: #111;
	margin: 0rem;
	min-height: 100vh;
	font-family: Futura, sans-serif;
}
#canvas, #text {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}
#text {
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font-size: 8vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#text h1 {
	opacity: 0.9
}

.moldura-dois {
	width: 4px; 
	border:8px inset #bed146;
	padding:15px;
	background: #b1b1c3;
	width:360px;
	height:480px;
	background:transparent url(../img/avatar-min.jpg);
	background-repeat: no-repeat;
	background-position-y: -20px;
  	background-size: 360px 560px;
	}

.moldura-um {
	width: 450px; /*404+8+8(bordas)+15+15(paddings)*/
	border:20px inset #2269b6;
	padding:25px;
	background: transparent url(../img/bg-dois.jpg);
}

@media only screen and (max-width:991px) {
	.moldura-dois {
		width: 4px; 
		border:8px inset #bed146;
		padding:15px;
		background: #b1b1c3;
		width:290px;
		height:460px;
		background:transparent url(../img/avatar-min.jpg);
		background-repeat: no-repeat;
		background-position-y: -20px;
		background-position-x: -40px;
		background-size: 360px 560px;
		}

	.moldura-um {
		margin-top: 3em;
		margin-bottom: 1em;
		width: 380px; /*404+8+8(bordas)+15+15(paddings)*/
		border:20px inset #2269b6;
		background: transparent url(../img/bg-dois.jpg);
	}
}